<footer class="wpo-site-footer">
    <div class="wpo-upper-footer">
      <div class="container">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="widget newsletter-widget">
              <div class="widget-title"><h3>اکنون مشترک شوید</h3></div>
              <form>
                <div class="input-1">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="ایمیل خود را وارد کنید:"
                    required=""
                  />
                </div>
                <div class="submit clearfix">
                  <button type="submit">اکنون مشترک شوید</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col col-lg-3 offset-lg-1 col-md-6 col-sm-12 col-12">
            <div class="widget wpo-contact-widget">
              <div class="widget-title"><h3>ایالت متحد</h3></div>
              <div class="contact-ft">
                <ul>
                  <li>
                    <i class="fi flaticon-placeholder"></i>738 Mill Run
                    RdMill Run، پنسیلوانیا (PA)، 15464
                  </li>
                  <li>
                    <i class="fi flaticon-phone-call"></i>(623) 271-7323
                  </li>
                  <li>
                    <i class="fi flaticon-email"></i>support247@gmail.com
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col col-lg-3 offset-lg-1 col-md-6 col-sm-12 col-12">
            <div class="widget wpo-contact-widget">
              <div class="widget-title"><h3>پرتغال</h3></div>
              <div class="contact-ft">
                <ul>
                  <li>
                    <i class="fi flaticon-placeholder"></i>1454 Gateway
                    Lakes Grove City، اوهایو (OH)، 43123
                  </li>
                  <li>
                    <i class="fi flaticon-phone-call"></i>(614) 277-1511
                  </li>
                  <li>
                    <i class="fi flaticon-email"></i>squatinfo247@gmail.com
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </footer>