<header id="header">
  <div class="wpo-site-header wpo-header-style-2">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">ناوبری را تغییر دهید</span
                ><span class="icon-bar first-angle"></span
                ><span class="icon-bar middle-angle"></span
                ><span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"
                ><img src="assets/images/logo.svg" alt="logo"
              /></a>
            </div>
          </div>
          <div class="col-lg-8 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                <li class="menu-item-has-children">
                  <a href="/">صفحه اصلی</a>
                  <ul class="sub-menu">
                    <li><a href="index.html">سبک خانه 1</a></li>
                    <li><a href="index-2.html">سبک خانه 2</a></li>
                    <li><a href="index-3.html">سبک خانه 3</a></li>
                  </ul>
                </li>
                <li><a href="/about">در مورد ما</a></li>
                <li class="menu-item-has-children">
                  <a href="#">خدمات</a>
                  <ul class="sub-menu">
                    <li><a href="service.html">خدمات</a></li>
                    <li><a href="service-2.html">سبک خدمات 2</a></li>
                    <li><a href="service-3.html">سبک خدمات 3</a></li>
                    <li><a href="service-single.html">سرویس تک</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a class="active" href="property">اموال</a>
                  <ul class="sub-menu">
                    <li><a href="property.html">اموال</a></li>
                    <li><a href="property-2.html">سبک ملکی 2</a></li>
                    <li>
                      <a class="active" href="property-single.html">ملک واحد</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">صفحات</a>
                  <ul class="sub-menu">
                    <li><a href="about.html">درباره</a></li>
                    <li><a href="team.html">تیم</a></li>
                    <li><a href="team-single.html">تک تیمی</a></li>
                    <li><a href="shop.html">خرید کنید</a></li>
                    <li><a href="shop-single.html">فروشگاه تک</a></li>
                    <li><a href="cart.html">سبد خرید</a></li>
                    <li><a href="checkout.html">تسویه حساب</a></li>
                    <li><a href="404.html">خطای 404</a></li>
                    <li><a href="faq.html">سوالات متداول</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">وبلاگ</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="blog.html">نوار کناری سمت راست وبلاگ</a>
                    </li>
                    <li>
                      <a href="blog-left-sidebar.html"
                        >نوار کناری سمت چپ وبلاگ</a
                      >
                    </li>
                    <li>
                      <a href="blog-fullwidth.html">وبلاگ به پهنای کامل</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">جزئیات وبلاگ</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="blog-single.html"
                            >جزئیات وبلاگ نوار کناری سمت راست</a
                          >
                        </li>
                        <li>
                          <a href="blog-single-left-sidebar.html"
                            >جزئیات وبلاگ نوار کناری سمت چپ</a
                          >
                        </li>
                        <li>
                          <a href="blog-single-fullwidth.html"
                            >جزئیات وبلاگ به عرض کامل</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="contact.html">تماس بگیرید</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-2">
            <div class="header-right">
              <div class="mini-cart">
                <button class="cart-toggle-btn">
                  <i class="fi flaticon-shopping-cart"></i
                  ><span class="cart-count">2</span>
                </button>
                <div class="mini-cart-content">
                  <button class="mini-cart-close">
                    <i class="ti-close"></i>
                  </button>
                  <div class="mini-cart-items">
                    <div class="mini-cart-item clearfix">
                      <div class="mini-cart-item-image">
                        <a href="shop.html"
                          ><img
                            src="assets/images/shop/mini-cart/img-1.jpg"
                            alt
                        /></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <a href="shop.html">صندلی لهجه Bev</a
                        ><span class="mini-cart-item-price">$20.15 x 1</span
                        ><span class="mini-cart-item-quantity"
                          ><a href="#"><i class="ti-close"></i></a
                        ></span>
                      </div>
                    </div>
                    <div class="mini-cart-item clearfix">
                      <div class="mini-cart-item-image">
                        <a href="shop.html"
                          ><img
                            src="assets/images/shop/mini-cart/img-2.jpg"
                            alt
                        /></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <a href="shop.html">صندلی های چوبی مشکی</a
                        ><span class="mini-cart-item-price">$13.25 x 2</span
                        ><span class="mini-cart-item-quantity"
                          ><a href="#"><i class="ti-close"></i></a
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="mini-cart-action clearfix">
                    <span class="mini-checkout-price"
                      >جمع فرعی:<span>$215.14</span></span
                    >
                    <div class="mini-btn">
                      <a href="checkout.html" class="view-cart-btn s1"
                        >تسویه حساب</a
                      ><a href="cart.html" class="view-cart-btn"
                        >مشاهده سبد خرید</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-search-form-wrapper">
                <div class="cart-search-contact">
                  <button class="search-toggle-btn">
                    <i class="fi flaticon-loupe"></i>
                  </button>
                  <div class="header-search-form">
                    <form>
                      <div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="اینجا جستجو کنید..."
                        /><button type="submit">
                          <i class="fi flaticon-loupe"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
