<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include ('partials/header') %>
    
      <div class="wpo-about-area section-padding">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <div class="wpo-about-img">
                <img src="assets/images/about.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-7 col-md-12 colsm-12">
              <div class="wpo-about-text">
                <div class="wpo-about-title">
                  <span>درباره ما</span>
                  <h2>امکانات مدرن ملک.</h2>
                </div>
                <h5>
                  بیش از 25 سال Liarch به سرمایه گذاران کمک می کند تا آرزوها و
                  اهداف تجاری خود را به کمال برسانند
                </h5>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کار
                </p>
                <div class="btns">
                  <a href="#" class="theme-btn" tabindex="0">بیشتر کشف کنید</a>
                  <ul>
                    <li class="video-holder">
                      <a
                        href="https://www.youtube.com/embed/NjIkTXmPycY?autoplay=1"
                        class="video-btn btn"
                        data-type="iframe"
                        tabindex="0"
                      ></a>
                    </li>
                    <li class="video-text">
                      <a
                        href="https://www.youtube.com/embed/NjIkTXmPycY?autoplay=1"
                        class="video-btn"
                        data-type="iframe"
                        tabindex="0"
                        >ویدیوی ما را تماشا کنید</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="wpo-fun-fact-section-s2 section-padding pt-0">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="wpo-fun-fact-grids clearfix">
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="215">00</span>+</h3>
                    <p>مشتریان فعلی</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="50">00</span>+</h3>
                    <p>برنده جوایز</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="15">00</span>+</h3>
                    <p>سالها تجربه</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="150">00</span>+</h3>
                    <p>اموال</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-plan-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="wpo-section-title">
                <small>پلان های طبقه</small>
                <h2>اسکات اسپیلون<span>دارایی</span>پلان های طبقه</h2>
              </div>
            </div>
          </div>
          <div class="wpo-plan-wrap">
            <div class="wpo-plan-tab-menu">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="basement-tab"
                    data-bs-toggle="tab"
                    href="#basement"
                    role="tab"
                    aria-controls="basement"
                    aria-selected="true"
                    >زیرزمین</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="ground-floor-tab"
                    data-bs-toggle="tab"
                    href="#ground-floor"
                    role="tab"
                    aria-controls="ground-floor"
                    aria-selected="false"
                    >طبقه همکف</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="first-floor-tab"
                    data-bs-toggle="tab"
                    href="#first-floor"
                    role="tab"
                    aria-controls="first-floor"
                    aria-selected="false"
                    >طبقه 1</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="second-floor-tab"
                    data-bs-toggle="tab"
                    href="#second-floor"
                    role="tab"
                    aria-controls="second-floor"
                    aria-selected="false"
                    >طبقه 2</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="rooftop-tab"
                    data-bs-toggle="tab"
                    href="#rooftop"
                    role="tab"
                    aria-controls="rooftop"
                    aria-selected="false"
                    >پشت بام</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in" id="basement">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-2.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                role="tabpanel"
                class="tab-pane fade in show active"
                id="ground-floor"
              >
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-1.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="first-floor">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-3.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="second-floor">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-4.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="rooftop">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-5.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-place-section section-padding">
        <div class="container-fluid">
          <div class="place-wrap">
            <div class="row align-items-center">
              <div class="col-xl-5 col-md-5">
                <div class="wpo-section-title-s2">
                  <small>مکان های نزدیک</small>
                  <h2>در نزدیکی<span>مکان های از</span>ملک</h2>
                  <ul class="tabs">
                    <li>
                      <button id="Location1" class="tab">
                        مدرسه<span>- 1.8 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location2" class="tab">
                        رستوران<span>- 1.6 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location3" class="tab">
                        مسجد<span>- 2.0 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location4" class="tab">
                        پارک<span>- 0.96 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location5" class="tab">
                        بیمارستان<span>- 1.6 Km</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-7 col-md-7">
                <div class="place-right-wrap clearfix">
                  <img src="assets/images/nearby/place.jpg" alt="" />
                  <div id="location-wrap">
                    <div id="location1" class="location s1">
                      <div class="pin">
                        <img src="assets/images/nearby/1.svg" alt="" /><span
                          >مدرسه کورپوس کریستی</span
                        >
                      </div>
                    </div>
                    <div id="location2" class="location s2">
                      <div class="pin">
                        <img src="assets/images/nearby/2.svg" alt="" /><span
                          >KFC Resturent</span
                        >
                      </div>
                    </div>
                    <div id="location3" class="location s3">
                      <div class="pin">
                        <img src="assets/images/nearby/3.svg" alt="" /><span
                          >مسجد بیتون نور</span
                        >
                      </div>
                    </div>
                    <div id="location4" class="location s4">
                      <div class="pin">
                        <img src="assets/images/nearby/4.svg" alt="" /><span
                          >پارک مرکزی</span
                        >
                      </div>
                    </div>
                    <div id="location5" class="location s5">
                      <div class="pin">
                        <img src="assets/images/nearby/5.svg" alt="" /><span
                          >بیمارستان مرکزی</span
                        >
                      </div>
                    </div>
                    <div id="location6" class="location s6">
                      <div class="pin">
                        <img src="assets/images/nearby/6.svg" alt="" /><span
                          >بیمارستان پرایم</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="partners-section pt-0">
        <h2 class="hidden">شریک</h2>
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="partner-grids partners-slider owl-carousel clearfix">
                <div class="grid">
                  <img src="assets/images/partners/img-1.png" alt="" />
                </div>
                <div class="grid">
                  <img src="assets/images/partners/img-2.png" alt="" />
                </div>
                <div class="grid">
                  <img src="assets/images/partners/img-3.png" alt="" />
                </div>
                <div class="grid">
                  <img src="assets/images/partners/img-4.png" alt="" />
                </div>
                <div class="grid">
                  <img src="assets/images/partners/img-5.png" alt="" />
                </div>
                <div class="grid">
                  <img src="assets/images/partners/img-6.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="wpo-site-footer">
        <div class="wpo-upper-footer">
          <div class="container">
            <div class="row">
              <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="widget newsletter-widget">
                  <div class="widget-title"><h3>اکنون مشترک شوید</h3></div>
                  <form>
                    <div class="input-1">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="ایمیل خود را وارد کنید:"
                        required=""
                      />
                    </div>
                    <div class="submit clearfix">
                      <button type="submit">اکنون مشترک شوید</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col col-lg-3 offset-lg-1 col-md-6 col-sm-12 col-12">
                <div class="widget wpo-contact-widget">
                  <div class="widget-title"><h3>ایالت متحد</h3></div>
                  <div class="contact-ft">
                    <ul>
                      <li>
                        <i class="fi flaticon-placeholder"></i>738 Mill Run
                        RdMill Run، پنسیلوانیا (PA)، 15464
                      </li>
                      <li>
                        <i class="fi flaticon-phone-call"></i>(623) 271-7323
                      </li>
                      <li>
                        <i class="fi flaticon-email"></i>support247@gmail.com
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 offset-lg-1 col-md-6 col-sm-12 col-12">
                <div class="widget wpo-contact-widget">
                  <div class="widget-title"><h3>پرتغال</h3></div>
                  <div class="contact-ft">
                    <ul>
                      <li>
                        <i class="fi flaticon-placeholder"></i>1454 Gateway
                        Lakes Grove City، اوهایو (OH)، 43123
                      </li>
                      <li>
                        <i class="fi flaticon-phone-call"></i>(614) 277-1511
                      </li>
                      <li>
                        <i class="fi flaticon-email"></i>squatinfo247@gmail.com
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-middle-footer">
          <div class="container">
            <div class="instagram-widget">
              <h2>- follow Instagram -</h2>
              <div class="instagram-wrap">
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/1.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/2.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/3.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/4.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/5.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/6.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/7.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/8.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/9.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
                <div class="instagram-item">
                  <a href="property-single.html"
                    ><img src="assets/images/instragram/10.jpg" alt="" /><i
                      class="ti-instagram"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-lower-footer">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-6 col-md-12 col-12">
                <div class="social">
                  <ul>
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col col-lg-6 col-md-12 col-12">
                <ul class="copyright">
                  <li>
                    Copyright © 2023<a href="#">اسکات</a>|| All Rights Reserved
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
