<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>
      <section class="wpo-page-title">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="wpo-breadcumb-wrap">
                <h2>سبد خرید</h2>
                <ol class="wpo-breadcumb-wrap">
                  <li><a href="index.html">صفحه اصلی</a></li>
                  <li>سبد خرید</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="cart-area section-padding">
        <div class="container">
          <div class="form">
            <div class="cart-wrapper">
              <div class="row">
                <div class="col-12">
                  <form action="cart">
                    <table class="table-responsive cart-wrap">
                      <thead>
                        <tr>
                          <th class="images images-b">تصویر</th>
                          <th class="product-2">نام محصول</th>
                          <th class="pr">مقدار</th>
                          <th class="ptice">قیمت</th>
                          <th class="stock">قیمت کل</th>
                          <th class="remove remove-b">اقدام</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="images">
                            <img src="assets/images/cart/img-1.jpg" alt="" />
                          </td>
                          <td class="product">
                            <ul>
                              <li class="first-cart">صندلی لهجه Bev</li>
                              <li>نام تجاری: Humanscale</li>
                              <li>سایز: XL</li>
                            </ul>
                          </td>
                          <td class="stock">
                            <ul class="input-style">
                              <li class="quantity cart-plus-minus">
                                <input type="text" value="1" />
                              </li>
                            </ul>
                          </td>
                          <td class="ptice">$ 250</td>
                          <td class="stock">$ 250</td>
                          <td class="action">
                            <ul>
                              <li class="w-btn">
                                <a
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Remove from Cart"
                                  href="#"
                                  ><i class="fi ti-trash"></i
                                ></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="images">
                            <img src="assets/images/cart/img-2.jpg" alt="" />
                          </td>
                          <td class="product">
                            <ul>
                              <li class="first-cart">صندلی های چوبی مشکی</li>
                              <li>برند: آمیا</li>
                              <li>سایز: 5 چوب</li>
                            </ul>
                          </td>
                          <td class="stock">
                            <ul class="input-style">
                              <li class="quantity cart-plus-minus">
                                <input type="text" value="1" />
                              </li>
                            </ul>
                          </td>
                          <td class="ptice">$ 350</td>
                          <td class="stock">$ 350</td>
                          <td class="action">
                            <ul>
                              <li class="w-btn">
                                <a
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Remove to Cart"
                                  href="#"
                                  ><i class="fi ti-trash"></i
                                ></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="images">
                            <img src="assets/images/cart/img-3.jpg" alt="" />
                          </td>
                          <td class="product">
                            <ul>
                              <li class="first-cart">میز کناری مرمر</li>
                              <li>برند: لیبرتی</li>
                              <li>سایز: XXL</li>
                            </ul>
                          </td>
                          <td class="stock">
                            <ul class="input-style">
                              <li class="quantity cart-plus-minus">
                                <input type="text" value="1" />
                              </li>
                            </ul>
                          </td>
                          <td class="ptice">$ 450</td>
                          <td class="stock">$ 450</td>
                          <td class="action">
                            <ul>
                              <li class="w-btn">
                                <a
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Remove to Cart"
                                  href="#"
                                  ><i class="fi ti-trash"></i
                                ></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="images">
                            <img src="assets/images/cart/img-4.jpg" alt="" />
                          </td>
                          <td class="product">
                            <ul>
                              <li class="first-cart">گلدان چند ضلعی</li>
                              <li>برند: ریگال</li>
                              <li>سایز: L</li>
                            </ul>
                          </td>
                          <td class="stock">
                            <ul class="input-style">
                              <li class="quantity cart-plus-minus">
                                <input type="text" value="1" />
                              </li>
                            </ul>
                          </td>
                          <td class="ptice">$ 550</td>
                          <td class="stock">$ 550</td>
                          <td class="action">
                            <ul>
                              <li class="w-btn">
                                <a
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Remove to Cart"
                                  href="#"
                                  ><i class="fi ti-trash"></i
                                ></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="images">
                            <img src="assets/images/cart/img-5.jpg" alt="" />
                          </td>
                          <td class="product">
                            <ul>
                              <li class="first-cart">صندلی کامپیوتر فولادی</li>
                              <li>برند: اختر</li>
                              <li>سایز: M</li>
                            </ul>
                          </td>
                          <td class="stock">
                            <ul class="input-style">
                              <li class="quantity cart-plus-minus">
                                <input type="text" value="1" />
                              </li>
                            </ul>
                          </td>
                          <td class="ptice">$ 550</td>
                          <td class="stock">$ 550</td>
                          <td class="action">
                            <ul>
                              <li class="w-btn">
                                <a
                                  data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Remove to Cart"
                                  href="#"
                                  ><i class="fi ti-trash"></i
                                ></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  <div class="submit-btn-area">
                    <ul>
                      <li>
                        <a class="theme-btn" href="shop"
                          >به خرید ادامه دهید<i
                            class="fa fa-angle-double-right"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <button type="submit">به روز رسانی سبد خرید</button>
                      </li>
                    </ul>
                  </div>
                  <div class="cart-product-list">
                    <ul>
                      <li>کل محصول<span>( 05 )</span></li>
                      <li>قیمت فرعی<span>$2250</span></li>
                      <li>مالیات بر ارزش افزوده<span>$50</span></li>
                      <li>مالیات بر محیط زیست<span>$100</span></li>
                      <li>هزینه تحویل<span>$100</span></li>
                      <li class="cart-b">قیمت کل<span>$2500</span></li>
                    </ul>
                  </div>
                  <div class="submit-btn-area">
                    <ul>
                      <li>
                        <a class="theme-btn" href="checkout.html"
                          >به تسویه حساب بروید<i
                            class="fa fa-angle-double-right"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
