<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>
      <section class="wpo-page-title">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="wpo-breadcumb-wrap">
                <h2>اموال</h2>
                <ol class="wpo-breadcumb-wrap">
                  <li><a href="index.html">صفحه اصلی</a></li>
                  <li>اموال</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-property-section-s2 section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
              <div class="wpo-section-title text-center">
                <h2>ما را کشف کنید<span>برجسته</span>دارایی</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="property-slider">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/1.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2><a href="/property/1">ویلای مدرن زیبا</a></h2>
                    <span>خیابان 12، نیویورک</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/2.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2><a href="/property/2">خانه مدرن هیل</a></h2>
                    <span>خیابان 120، ویلوویل</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/3.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2>
                      <a href="property-single.html"
                        >خانه مدرن با نمای دریاچه</a
                      >
                    </h2>
                    <span>خیابان 121، ایالات متحده آمریکا</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/4.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2><a href="property-single.html">املاک میپل وود</a></h2>
                    <span>خیابان اوک 123، ویلوویل</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/5.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2><a href="property-single.html">ویلای مدرن زیبا</a></h2>
                    <span>خیابان 12، نیویورک</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card-single">
                  <div class="image">
                    <img src="assets/images/property/6.jpg" alt="" />
                    <ul>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/1.svg" alt="" />
                        </div>
                        <div class="text-dos">03 تخت</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/2.svg" alt="" />
                        </div>
                        <div class="text-dos">04 حمام</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/3.svg" alt="" />
                        </div>
                        <div class="text-dos">02 گاراژ</div>
                      </li>
                      <li>
                        <div class="icon">
                          <img src="assets/images/property/4.svg" alt="" />
                        </div>
                        <div class="text-dos">800 فوت مربع</div>
                      </li>
                    </ul>
                  </div>
                  <div class="text">
                    <h2><a href="property-single.html">خانه مدرن هیل</a></h2>
                    <span>خیابان 120، ویلوویل</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include ('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
