<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>
   
      <section class="wpo-service-section-s2 section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="left-img">
                <img src="assets/images/service/left.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-8">
              <div class="wpo-service-wrapper">
                <div class="row justify-content-center">
                  <div class="col-lg-7">
                    <div class="wpo-section-title-s2">
                      <h2>مدرن<span>امکانات</span>از ملک.</h2>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="wpo-section-title-img">
                      <img src="assets/images/service/title2.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="wpo-service-wrap">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/1.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3><a href="#">کاشی بتنی</a></h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/2.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3>
                            <a href="#">اتاق خانواده</a>
                          </h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/3.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3>
                            <a href="#">quaters مهمان</a>
                          </h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/4.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3><a href="#">کف گرم</a></h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/5.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3><a href="#">استخر شنا</a></h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                          <span
                            ><img src="assets/images/service/6.svg" alt=""
                          /></span>
                        </div>
                        <div class="wpo-service-text">
                          <h3>
                            <a href="#">نمای اقیانوس</a>
                          </h3>
                          <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحا
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
