<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>

      <section class="wpo-shop-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="shop-grids clearfix">
                <div class="grid">
                  <div class="img-holder">
                    <img src="assets/images/shop/Bev-Accent-Chair.jpg" alt />
                  </div>
                  <div class="details">
                    <h3><a href="shop-single.html">صندلی لهجه Bev</a></h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="img-holder">
                    <img src="assets/images/shop/Black-Timber-Chairs.jpg" alt />
                  </div>
                  <div class="details">
                    <h3><a href="shop-single.html">صندلی های چوبی مشکی</a></h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="img-holder">
                    <img src="assets/images/shop/Marble-Side-Table.jpg" alt />
                  </div>
                  <div class="details">
                    <h3><a href="shop-single.html">میز کناری مرمر</a></h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="img-holder">
                    <img src="assets/images/shop/Polygonal-Vase.jpg" alt />
                  </div>
                  <div class="details">
                    <h3><a href="shop-single.html">گلدان چند ضلعی</a></h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/Steel-Computer-Chair.jpg"
                      alt
                    />
                  </div>
                  <div class="details">
                    <h3>
                      <a href="shop-single.html">صندلی کامپیوتر فولادی</a>
                    </h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="img-holder">
                    <img src="assets/images/shop/Wood-Annabel-Chair.jpg" alt />
                  </div>
                  <div class="details">
                    <h3><a href="shop-single.html">صندلی چوبی آنابل</a></h3>
                    <del>$25.00</del><span>$22.00</span>
                    <div class="add-to-cart">
                      <a href="#"
                        >به سبد خرید اضافه کنید<i class="ti-shopping-cart"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination-wrapper pagination-wrapper-center">
                <ul class="pg-pagination">
                  <li>
                    <a href="#" aria-label="Previous"
                      ><i class="ti-angle-left"></i
                    ></a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li>
                    <a href="#" aria-label="Next"
                      ><i class="ti-angle-right"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
