<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>
      <section class="wpo-page-title">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="wpo-breadcumb-wrap">
                <h2>ملک واحد</h2>
                <ol class="wpo-breadcumb-wrap">
                  <li><a href="index.html">صفحه اصلی</a></li>
                  <li>اموال</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="wpo-hotel-details-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="wpo-hotel-details-wrap">
                <div class="wpo-hotel-details-area">
                  <form class="clearfix">
                    <div class="details-sub">
                      <span>املاک تخت</span>
                      <h2>5 تخت</h2>
                    </div>
                    <div class="details-sub">
                      <span>SIZE ملک</span>
                      <h2>6382 فوت مربع</h2>
                    </div>
                    <div class="details-sub">
                      <span>پارکینگ ماشین</span>
                      <h2>2 پارکینگ</h2>
                    </div>
                    <div class="details-sub">
                      <span>حمام های کامل</span>
                      <h2>2 حمام</h2>
                    </div>
                    <div class="details-sub">
                      <h5>PRICE<span>$6382</span></h5>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="wpo-property-section s3 section-padding pt-0">
        <div class="container-fluid">
          <div class="property-slider-s2 owl-carousel">
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/1.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">ویلای مدرن زیبا</a></h2>
                <span>خیابان 12، نیویورک</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/2.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">خانه مدرن هیل</a></h2>
                <span>خیابان 120، ویلوویل</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/3.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2>
                  <a href="property-single.html">خانه مدرن با نمای دریاچه</a>
                </h2>
                <span>خیابان 121، ایالات متحده آمریکا</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/4.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">املاک میپل وود</a></h2>
                <span>خیابان اوک 123، ویلوویل</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/5.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">خانه مدرن هیل</a></h2>
                <span>خیابان 120، ویلوویل</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/6.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2>
                  <a href="property-single.html">خانه مدرن با نمای دریاچه</a>
                </h2>
                <span>خیابان 121، ایالات متحده آمریکا</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="property-details-area pt-0 section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12">
              <div class="property-description">
                <div class="property-title"><h2>توضیحات</h2></div>
                <p class="p-wrap">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                </p>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
                  افزارها شناخت بیشتری را برای
                </p>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
                  افزارها شناخت
                </p>
              </div>
              <div class="property-details-service">
                <div class="row">
                  <div class="property-details-item">
                    <div class="row">
                      <div class="col-md-5 col-sm-5">
                        <div class="property-d-text">
                          <div class="property-title">
                            <h2>امکانات رفاهی</h2>
                          </div>
                          <ul>
                            <li><a href="#">یخچال و آب</a></li>
                            <li><a href="#">تاسیسات تهویه مطبوع</a></li>
                            <li><a href="#">بدون شارژ اضافی</a></li>
                            <li><a href="#">تسهیلات وام</a></li>
                            <li><a href="#">میز و صندلی</a></li>
                            <li><a href="#">2 آسانسور موجود</a></li>
                            <li><a href="#">بلکنی سمت ملک</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <div class="property-d-img">
                          <img
                            src="assets/images/project-single/img-7.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <div class="property-d-img">
                          <img
                            src="assets/images/project-single/img-8.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5">
                        <div class="property-d-text2">
                          <div class="property-title"><h2>خدمات ملکی</h2></div>
                          <ul>
                            <li><a href="#">کاشی بتنی</a></li>
                            <li><a href="#">اتاق خانواده</a></li>
                            <li><a href="#">مهمان کواترز</a></li>
                            <li><a href="#">کف گرم</a></li>
                            <li><a href="#">استخر شنا</a></li>
                            <li><a href="#">نمای اقیانوس</a></li>
                            <li><a href="#">بلکنی سمت ملک</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pricing-area">
                <div class="property-title"><h2>موقعیت ملک</h2></div>
                <div class="map-area">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="property-review">
                <div class="property-title"><h2>بررسی املاک</h2></div>
                <div class="review-item">
                  <div class="review-img">
                    <img src="assets/images/project-single/r1.jpg" alt="" />
                  </div>
                  <div class="review-text">
                    <div class="r-title">
                      <h2>با واتسون ازدواج کن</h2>
                      <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                      شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهب
                    </p>
                  </div>
                </div>
                <div class="review-item">
                  <div class="review-img">
                    <img src="assets/images/project-single/r2.jpg" alt="" />
                  </div>
                  <div class="review-text">
                    <div class="r-title">
                      <h2>لیلی هاونلی</h2>
                      <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها
                    </p>
                  </div>
                </div>
              </div>
              <div class="add-review">
                <div class="property-title"><h2>افزودن نظر</h2></div>
                <div class="wpo-blog-single-section review-form">
                  <div class="give-rat-sec">
                    <p>امتیاز شما *</p>
                    <div class="give-rating">
                      <label
                        ><input type="radio" name="stars" value="1" /><span
                          class="icon"
                          >★</span
                        ></label
                      ><label
                        ><input type="radio" name="stars" value="2" /><span
                          class="icon"
                          >★</span
                        ><span class="icon">★</span></label
                      ><label
                        ><input type="radio" name="stars" value="3" /><span
                          class="icon"
                          >★</span
                        ><span class="icon">★</span
                        ><span class="icon">★</span></label
                      ><label
                        ><input type="radio" name="stars" value="4" /><span
                          class="icon"
                          >★</span
                        ><span class="icon">★</span><span class="icon">★</span
                        ><span class="icon">★</span></label
                      ><label
                        ><input type="radio" name="stars" value="5" /><span
                          class="icon"
                          >★</span
                        ><span class="icon">★</span><span class="icon">★</span
                        ><span class="icon">★</span
                        ><span class="icon">★</span></label
                      >
                    </div>
                  </div>
                  <div class="review-add">
                    <div class="comment-respond">
                      <form id="commentform" class="comment-form">
                        <div class="form-inputs">
                          <input placeholder="نام شما*" type="text" /><input
                            placeholder="ایمیل شما*"
                            type="email"
                          />
                        </div>
                        <div class="form-textarea">
                          <textarea
                            id="comment"
                            placeholder="نقد شما"
                          ></textarea>
                        </div>
                        <div class="form-check">
                          <div class="shipp pb">
                            <input type="checkbox" id="c2" name="cc" /><label
                              for="c2"
                              ><span></span>برای دفعه بعد که نظر می دهم نام،
                              ایمیل و وب سایت من را در این مرورگر ذخیره
                              کنید.</label
                            >
                          </div>
                        </div>
                        <div class="form-submit">
                          <input id="submit" value="Submit Now" type="submit" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="blog-sidebar property-sidebar">
                <div class="widget recent-post-widget">
                  <h3>پست های مرتبط</h3>
                  <div class="posts">
                    <div class="post">
                      <div class="img-holder">
                        <img src="assets/images/recent-posts/img-1.jpg" alt />
                      </div>
                      <div class="details">
                        <h4>
                          <a href="blog-single.html"
                            >اتخاذ تصمیمات آگاهانه برای تامین مالی خانه</a
                          >
                        </h4>
                        <span class="date">19 ژوئن 2023</span>
                      </div>
                    </div>
                    <div class="post">
                      <div class="img-holder">
                        <img src="assets/images/recent-posts/img-2.jpg" alt />
                      </div>
                      <div class="details">
                        <h4>
                          <a href="blog-single.html"
                            >خانه خود را بفروشید؟ چگونه آن را برای حداکثر تأثیر
                            صحنه سازی کنیم.</a
                          >
                        </h4>
                        <span class="date">22 مه 2023</span>
                      </div>
                    </div>
                    <div class="post">
                      <div class="img-holder">
                        <img src="assets/images/recent-posts/img-3.jpg" alt />
                      </div>
                      <div class="details">
                        <h4>
                          <a href="blog-single.html"
                            >گام های ساده برای تقویت نمای بیرونی خانه شما.</a
                          >
                        </h4>
                        <span class="date">12 آوریل 2023</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget wpo-instagram-widget">
                  <div class="widget-title"><h3>اموال ما را کشف کنید</h3></div>
                  <ul class="d-flex">
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/1.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/2.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/3.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/4.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/5.jpg" alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="property-single.html"
                        ><img src="assets/images/instragram/6.jpg" alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
                <div class="wpo-contact-widget widget">
                  <h2>چگونه می توانیم<br />کمک به شما!</h2>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                    و مجله در س
                  </p>
                  <a href="contact.html">تماس با ما</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
